.portfolio__filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 40px;
}

.portfolio__item {
    cursor: pointer;
    font-weight: var(--font-semibold);
    font-family: var(--code-font);     
}

.portfolio__item-active {
    color: var(--main-color);
    
}

.portfolio__item:hover {
    color: var(--title-color);
    justify-content: center;
    transform: scale(1);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.contact__elink:hover {
    transform: scale(1);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.contact__elink:hover:before {
    transform: scale(1);
}

.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
}

.portfolio__card {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: var(--container-color);
    border-radius: 2px;
    position: relative;
    color: #141417;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: background-color 0.3s ease;
}

.portfolio__card:hover {
    background-color: var(--gradient-color);
}

.portfolio__thumbnail img {
    background: var(--container-color);
    background: var(--gradient-color);
    width: 100%;
    height: 250px; /* Set the desired height for the images */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    border-radius: 2px;
}

.portfolio__title {
    margin-top: 2rem;
    margin-left: 1.75rem;
    padding-bottom: 2rem;
    margin-right: 1.75rem;
    font-family: var(--code-font);
    font-size: 1rem;
    font-weight: 600;
    height: 60px;
}

.portfolio__category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem; /* Space between the tags */
    margin-top: 0.5rem; /* Add spacing from the title or other elements */
    margin-left: 1rem;
}

/* Individual category (tag) */
.portfolio__category {
    font-size: 0.75rem;
    border-radius: 2px;
    font-family: var(--code-font);
    color: var(--text-color);
    padding: 5px 10px;
    background: var(--body-color);
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping */
    cursor: default;
}

.portfolio__buttons {
    display: flex;  
}

.portfolio__button {
    position: absolute;
    bottom: 20px; /* Place 20px from the bottom */
    left: 25px; /* Center horizontally */
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.3s;
} 

.portfolio__github-button {
    position: absolute;
    bottom: 20px; /* Place 20px from the bottom */
    left: 75px; /* Center horizontally */
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.3s;
}

.portfolio__vs-button {
    font-size: 17px;
    border-radius: 2px;
    font-weight: 500;
    color: var(--title-color);
    background: transparent;
    transition: 0.3s ease;
    padding: 10px 20px;
    font-family: var(--code-font);
    border: 1px solid;
    position: absolute; /* Absolute positioning */
    bottom: 25px; /* Place at the bottom */
    right: 25px; /* Align with the right side */
    z-index: 1; /* Set a lower z-index so it doesn't overlap category */
}

/* Individual button positioning */

.portfolio__button:hover,
.portfolio__github-button:hover {
    color: var(--main-color);
}

.portfolio__vs-button:hover {
    color: var(--title-color);
    background: var(--main-color);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #5a3081, 0 0 20px #42245f, 0 0 40px #1b1124,
      0 0 75px #878588;
} 
    
.portfolio__card:hover .portfolio__title,
.portfolio__card:hover .portfolio__category {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {
    .portfolio__filters {
        justify-content: center;
    }

    .portfolio__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio__container {
        grid-template-columns: 310px;
        justify-content: center;
        row-gap: 30px;
    }

    .portfolio__filters {
        row-gap: 4px;
    }
}

@media screen and (max-width: 350px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}
