/* Filters and Items */
.portfolio__filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 40px;
}

.portfolio__item {
    cursor: pointer;
    font-weight: var(--font-semibold);
    font-family: var(--code-font);     
}

.portfolio__item-active {
    color: var(--main-color);
}

.portfolio__item:hover {
    color: var(--title-color);
    justify-content: center;
    transform: scale(1);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.contact__elink:hover {
    transform: scale(1);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.contact__elink:hover:before {
    transform: scale(1);
}

/* Portfolio Grid Layout */
.portfolio__grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2 columns: left (card) and right (description) */
    gap: 2rem; /* Gap between the card and description */
    margin-bottom: 2rem; /* Spacing between each project */
}

/* Portfolio Card */
.portfolio__card {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: var(--container-color);
    border-radius: 10px;
    position: relative;
    color: #141417;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: background-color 0.3s ease;
    padding: 1rem;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.portfolio__desc {
    align-items: center; /* Vertically center the description text */
    font-family: var(--code-font);
    font-size: 1rem;
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--container-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--border-color);
}

.portfolio__desc:hover {
    background-color: var(--gradient-color);
}

.portfolio__info {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    height: 270px;
}

.portfolio__card:hover .portfolio__thumbnail img {
    transform: scale(1.1); /* Scale up the image slightly */
}

/* Thumbnail Images */
.portfolio__thumbnail img {
    background: var(--container-color);
    background: var(--gradient-color);
    width: 100%;
    height: 465px; /* Set the desired height for the images */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    border-radius: 10px;
    transition: transform 0.5s ease; /* Smooth transition for scaling */
}

/* Portfolio Titles */
.portfolio__title {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: var(--code-font);
    font-weight: var(--font-semibold);
    font-size: 1rem;
    height: 60px;
}

/* Portfolio Category Container */
.portfolio__category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem; /* Space between the tags */
    margin-left: 1rem;
    padding-bottom: 1rem;
}

/* Individual category (tag) */
.portfolio__category {
    font-size: 0.75rem;
    border-radius: 2px;
    font-family: var(--code-font);
    color: var(--text-color);
    padding: 5px 10px;
    background: var(--body-color);
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping */
    cursor: default;
}

/* Portfolio Buttons */
.portfolio__buttons {
    display: flex;
    justify-content: center; /* Align buttons horizontally */
    align-items: center;     /* Align buttons vertically */
    gap: 1rem; /* Adjust spacing between buttons */
}

.portfolio__button {
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.3s;
    padding-left: 0.75rem;
    padding-right: 0.50rem;
    padding-top: 0.75rem;
}

.portfolio__github-button {
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.3s;
    padding-left: 0.50rem;
    padding-top: 0.75rem;
}

.portfolio__vs-button {
    margin-left: 0.75rem;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-weight: 500;
    color: var(--title-color);
    background: transparent;
    transition: 0.3s ease;
    padding: 8px 20px;
    font-family: var(--code-font);
}

/* Button Hover States */
.portfolio__button:hover,
.portfolio__github-button:hover {
    color: var(--main-color);
    transform: scale(1.2);
}

.portfolio__vs-button:hover {
    color: var(--title-color);
    background: var(--main-color);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #5a3081, 0 0 20px #42245f, 0 0 40px #1b1124, 0 0 75px #878588;
}

.portfolio__card:hover .portfolio__title,
.portfolio__card:hover .portfolio__category {
    opacity: 1;
    transform: translateY(0);
}

.back-to-top {
    position: fixed;
    background-color: var(--body-color);
    bottom: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 175px;
    height: 50px;
    display: flex;
    font-size: 17px;
    font-family: var(--code-font);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.back-to-top:hover {
    background-color: var(--main-color);
    transition: 0.3s ease;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #5a3081, 0 0 20px #42245f, 0 0 40px #1b1124, 0 0 75px #878588;
}

.back-to-top-icon {
    color: var(--title-color);
    font-size: 1.5rem;
    margin-left: 0.75rem;
}


/* Media Queries */
@media screen and (max-width: 1024px) {
    .portfolio__grid-container {
        grid-template-columns: repeat(1, 2fr); /* Two columns for tablets */
        gap: 1rem;
    }

    .portfolio__filters {
        justify-content: center;
    }

    .portfolio__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        gap: 1.5rem;
    }

    .portfolio__thumbnail img {
        height: 225px; /* Slightly taller image for tablet view */
    }

    .portfolio__desc {
        width: 339.34px;
        height: 500px;
    }

    .portfolio__card {
        height: auto; /* Let the card height adjust based on content */
    }
}

@media screen and (max-width: 768px) {
    .portfolio__container {
        grid-template-columns: 335px;
        gap: 1.5rem;

    }

    .portfolio__filters {
        row-gap: 4px;
    }

    .portfolio__thumbnail img {
        height: 225px; /* Set a fixed height for mobile, adjust as needed */
    }
}

@media screen and (max-width: 350px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}