/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {

  /* Colors */
  --main-color: hsl(244, 46%, 69%);
  --title-color: hsl(0, 0%, 10%);
  --text-color: hsl(0, 0%, 10%);
  --body-color: hsl(0, 0%, 97%);
  --container-color: #eeeeee;
  --border-color: rgba(0, 0, 0, 0.25);
  --gradient-color: linear-gradient(180deg, rgb(206, 206, 206) 0%, rgb(207, 207, 207) 52%, rgb(138, 138, 138) 100%);
  --background-color: linear-gradient(135deg, #eeeeee, #c9c9c9);
  --background-attachment: fixed;
  --background-size: cover;

  /* Font and Typhography */
  --body-font: "Space Grotesk", sans-serif, serif;
  --body-font2: "Chivo Mono", serif;
  --code-font: "Source Code Pro", monospace;
  --h1-font-size: 56px;
  --h2-font-size: 24px;
  --h3-font-size: 16px;
  --normal-font-size: 14px;
  --smaller-font-size: 13px;

  /* Font Weight */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Box Shadow */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 /10%);

  /* Border Radius */
  --border-radius: 2px;

}

[data-theme="dark"] {
  --main-color: hsl(244, 100%, 72%);
  --title-color: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 90%);
  --body-color: hsl(0, 0%, 10%);
  --container-color: #202020;
  --shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  --border-color: rgba(255, 255, 255, 0.25);
  --gradient-color: linear-gradient(180deg, rgb(43, 43, 43) 0%, rgb(128, 128, 128) 52%, rgb(189, 189, 189) 100%);
  --background-color: linear-gradient(135deg, #0e0d0d, #1a1a1a);
  --background-attachment: fixed;
  --background-size: cover;
}


/* Responsive Typhography */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

code {
  font-family: var(--code-font);
}

body {
  line-height: 1.7;
  background: var(--body-color);
 
}

main {
  background: var(--background-color);
  color: var(--text-color);

}


h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;

}

/* Reusable CSS Classes */

.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semibold);
  position: relative;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}

/* .section__title::before {
  content: "",
  background: url();
  
} */

/* [data-theme="dark"] .section__title::before {
  content: "";
  background: url();
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
} */

.btn {
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: 500;
  font-family: var(--code-font);
  color: var(--title-color);
  background: transparent;
  cursor: pointer;
  transition: 0.5s ease;
  user-select: none;
  border: 1px solid var(--border-color);
}

.btn:hover {
  color: #ffffff;
  background: var(--main-color);
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #4b0988, 0 0 20px #33065e, 0 0 40px #140224,
    0 0 75px #878588;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}